body {
  margin: 0;
  height: 100vh;
  font-family: "Pacifico";
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
canvas {
  border: 1x solid #0a3cda;
  width: 100%;
  max-height: 100%;
}
