html, body {
	width: 100%;
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
#powerblocks-container {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #202020;
}
#powerblocks {
	display: block;
	position: absolute;
	background-color: #222;
	width: 400px;
	height: 700px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
