{
  "networks": [
    "Poki",
    "CrazyGames",
    "GamePix",
    "GameDistribution",
    "GameMonetize",
    "CoolMathGames",
    "HoodaMath",
    "FreezeNova"
  ],
  "name": "FreezeNova",
  "gameId": "1377b99c10284c229423118a941af3b1",
  "removeSocials": true,
  "stopAudioInBackground": false,
  "removeMidrollRewarded": true,
  "noReligion": false,
  "removeServiceWorker": true,
  "interTypes": {
    "loader": true,
    "mainMenuStart": true,
    "randomskins": true,
    "removeads": true,
    "levelStart": true,
    "restart": true,
    "levelStartFromMenu": true,
    "levelStartOnSuccess": true
  },
  "splashScreen": false,
  "sitelock": false,
  "sites": [
    "www.onlinegames.io",
    "onlinegames.io",
    "unblocked-games.s3.amazonaws.com",
    "sites.google.com/site/unblockedgames77",
    "freezenova.com/"
  ],
  "correctWebsite": "https://www.onlinegames.io/ovo-online/"
}
